$color: steelblue;
$color2: #F7E2E2 ;
$color3: #61A4BC ;

body, html{

    background: $color2;
}

.app-container {
    width: 100%;
    background: $color2;
}
.movieViewContainer{
    background: $color3;
}